<body style="background-color:lightgrey;">
    <h1 class="text-center mt-4 mb-5">Today's Specials </h1>

    <div class=" row row-cols-2 row-cols-md-3 g-4 d-flex justify-content-center">
        <% @specials.each do |special| %>
            <% if (@time.strftime("%A") === special.dayOfWeek) %>
                    <div class="card  mt-4 ms-4" style="width: 25rem;">
                         <div class="d-flex">
                            <div class="card-body text-center">
                                <h5 class="card-title fw-bold"><%= special.restaurantName %></h5>
                                <p class="card-text "><%= special.title %></p>
                                <%= link_to 'Edit', edit_special_path(special) %>
                                <%= link_to "Delete", special_path(special), 
                                        data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
                            </div>
                        </div>
                </div>


                

            <% end %>
        <% end %>

    </div>
    <div class="text-center mt-4">
        <%= link_to 'New Special? Submit it here!', new_special_path%>
    </div>


