<h1 class="text-center mt-4">Specials for Today</h1>

<div class="container text-center">
    <% @specials.each do |special| %>
        <div class="row inline">
            <div class=" mt-4 ms-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title"><%= special.restaurantName %></h5>
                    <p class="card-text"><%= special.title %></p>
                    <p class="card-text">Day of special: <%= special.dayOfWeek %></p>
                    <p class="card-text">
                        <%= link_to 'Edit', edit_special_path(special) %>
                        <%= link_to 'destroy', special_path(special), 
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

</div>
<%= link_to 'New Special?', new_special_path%>



